<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cc.soham.togglesample">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".SampleActivity"
            android:label="@string/label_home"
            android:theme="@style/AppTheme">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name=".SampleNetworkActivity"
            android:label="@string/label_network"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".SampleRetrofitActivity"
            android:label="@string/label_retrofit"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".SampleStringActivity"
            android:label="@string/label_string"
            android:theme="@style/AppTheme" />


        <activity
            android:name=".SampleConfigActivity"
            android:label="@string/label_object"
            android:theme="@style/AppTheme" />

    </application>

</manifest>
